* {
    margin: 0;
    padding: 0;
}

.hidden-section {
    display: none;
    visibility: hidden;
}

.aclass {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-top: 4px solid #E2FF9E;
    border-bottom: 4px solid #E2FF9E;
    background-color: #FFE8FE;
}


body {
    background-color: #E9FFDE;
}
/* .padding-img {
    padding-top: 1%;
    padding-bottom: 1%;
} */
.padding-game {
    padding-top: 2.5%;
}

.bg-green {
    background-color: #E9FFDE;
}

.header {
    height: 110px;
    padding-top: 0.1%;
   border-bottom: 4px solid #E2FF9E;
    border-top: 4px solid #E2FF9E;
    font-family: 'Codystar', cursive;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    color: #FF91FF;
    background-color: #FFDEFF;
}

.box {
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: #FF91FF;
    background-color: #E9FFDE;
    font-size: 20px;
    padding: 20px 20px 20px 20px;  
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;   
}

.text-font {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 18px;
    color: black
}

.cursive {
    font-family: 'Sacramento', cursive;
    font-size: 50px;
    font-weight: lighter;
}

table {
    position: absolute;
    justify-content: center;
}

td {
    width: 155px;
    height: 155px;
    align-content: center;
    
}

#square1 {
    border-right: 4px solid #CC8DC2;
    border-bottom: 4px solid #CC8DC2;
}

#square2 {
    border-right: 4px solid #CC8DC2;
    border-bottom: 4px solid #CC8DC2;
}

#square3 {
    border-bottom: 4px solid #CC8DC2
    
}
#square4 {
    border-right: 4px solid #CC8DC2;
    border-bottom: 4px solid #CC8DC2;
}
#square5 {
    border-right: 4px solid #CC8DC2;
    border-bottom: 4px solid #CC8DC2;
}
#square6 {
    border-bottom: 4px solid #CC8DC2;
}
#square7 {
    border-right: 4px solid #CC8DC2;
}
#square8 {
    border-right: 4px solid #CC8DC2;
}